<h3>Art1</h3>

@page "/art1"
@rendermode InteractiveServer

  <!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="img/blog/details/ridicare-olimpica.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="bh-text">
                        <h3>Exerciții pentru flexibilitatea coloanei.</h3>
                        <ul>
                            <li>de Lucian Bălteanu</li>
                            <li>iunie 2025</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            <p>Flexibilitatea coloanei vertebrale este un element esențial în menținerea 
							unei posturi corecte, a mobilității funcționale și a prevenirii durerilor cronice 
							de spate. Coloana vertebrală nu este doar un ax structural, ci și un canal vital 
							care protejează măduva spinării – componentă esențială a sistemului nervos central.</p>
							<br/>
                            <p>Printre cele mai eficiente exerciții pentru flexibilitate spinală se numără:</p>
							
                            <h5>Jefferson Curl</h5>
							<p>Un exercițiu mai avansat, cu o abordare lentă și controlată. Se pornește din poziție verticală și, 
							vertebră cu vertebră, trunchiul se rotește în flexie înainte, până ajunge într-o poziție de atârnare pasivă, 
							eventual cu o greutate mică în mâini. Se revine în poziția inițială tot segmentar.</p>
                        <br />
							
							<h5>Cat-Cow Stretch</h5>
							<p>Acest exercițiu, preluat din yoga, mobilizează întreaga coloană printr-o alternanță ritmică între două posturi:</p>
							
                            <p>1. "Cat" – spatele se rotunjește, bărbia spre piept, omoplații se depărtează;.</p>
							<p>2. "Cow" – coloana se arcuiește în extensie, pieptul se deschide, privirea înainte.</p>
                        </div>
                        <div class="blog-details-pic">
                            <div class="blog-details-pic-item">
                                <img src="img/blog/details/aplecare.jpg" alt="">
                            </div>
                            <div class="blog-details-pic-item">
                                <img src="img/blog/details/cat-cow.jpg" alt="">
                            </div>
                        </div>
                        <div class="blog-details-desc">
                            <p>Aceste exerciții pot fi integrate într-un program zilnic de 10–15 minute, acasă. 
							Sunt sigure, eficiente și sprijină sănătatea vertebrală pe termen lung.</p>
                        </div>
                        <div class="blog-details-quote">
                            <div class="quote-icon">
                                <img src="img/blog/details/quote-left.png" alt="">
                            </div>
                            <h5>Ești la fel de tânăr pe cât de flexibilă este coloana ta.</h5>
                            <span>Joseph Pilates</span>
                        </div>
                        <div class="blog-details-more-desc">
                            <p>Din punct de vedere medical, menținerea unei coloane flexibile favorizează o mai 
							bună oxigenare a discurilor intervertebrale și previne degenerarea prematură a acestora. 
							Mai mult, exercițiile regulate stimulează secreția de lichid sinovial în articulațiile vertebrale, 
							esențial pentru lubrifiere și funcționare corectă.</p>
                            <p>În concluzie, flexibilitatea coloanei nu este un obiectiv estetic, ci un parametru de sănătate vital. 
							Introducerea a doar 10–15 minute de exerciții specifice zilnic poate face diferența între o postură 
							compensatorie dureroasă și un corp funcțional, liber și armonios.</p>
                        </div>
                    <br />
                        <div class="blog-details-author">
                            <div class="ba-pic">
                                <img src="img/blog/details/blog-profile.jpg" alt="">
                            </div>
                            <div class="ba-text">
							
                                <h5>Lucian Bălteanu.</h5>
                                <p>Fiecare zi în care îți onorezi corpul e o victorie asupra durerii.</p>
                                <div class="bp-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="comment-option">
                                    <h5 class="co-title">Comentarii</h5>
                                    <div class="co-item">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-1.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                    <div class="co-item reply-comment">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-2.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                    <div class="co-item">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-3.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="leave-comment">
                                    <h5>Lasă un comentariu</h5>
                                    <form action="#">
                                        <input type="text" placeholder="Nume">
                                        <input type="text" placeholder="Email">
                                        <textarea placeholder="Comentariu"></textarea>
                                        <button type="submit">Trimite</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->




@code {

}
