<h3>Art2</h3>
@page "/art2"

<section class="blog-details-hero set-bg" data-setbg="img/blog/details/mancare-header.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="bh-text">
                        <h3>Alimentație antiinflamatoare.</h3>
                        <ul>
                            <li>de Lucian Bălteanu</li>
                            <li>iunie 2025</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
                            <p>Într-o lume în care inflamația cronică stă la baza multor afecțiuni moderne – de la boli 
							autoimune până la disfuncții metabolice – alimentația joacă un rol crucial în reglarea acestui proces. 
							Dieta antiinflamatoare nu este o modă, ci o strategie terapeutică validată științific, care vizează 
							reducerea stresului oxidativ și susținerea sănătății intestinale.</p>
							<p>Inflamația este un mecanism de apărare natural, dar când devine cronică, devine distructivă. 
							Flora intestinală, bariera epitelială și alimentația interacționează constant – iar o dietă dezechilibrată 
							poate stimula excesiv sistemul imunitar. Răspunsul? O alimentație strategică, antiinflamatoare.
                        </p>
                            <h5>Alimente-cheie în dieta antiinflamatoare:</h5>
							<p>Legume cu frunze verzi (kale, spanac, rucola) – bogate în antioxidanți și vitamine precum 
							K și C, susțin funcțiile hepatice și reduc inflamația.</p>
							
							<p>Pește gras (somon, sardine, macrou) – surse excelente de acizi grași Omega-3, 
							care reglează nivelul de citokine proinflamatorii.</p>
							
							<p>Ulei de măsline extravirgin – conține polifenoli cu efecte antioxidante 
							puternice și reduce expresia genelor inflamatorii.</p>
							
							<p>Fructe de pădure (afine, zmeură, coacăze) – bogate în antocianine care 
							protejează mucoasa intestinală și reduc stresul oxidativ.</p>
							
							<p>Alimente fermentate (iaurt, kefir, kimchi) – susțin echilibrul florei intestinale, 
							un element-cheie în prevenirea inflamației cronice.</p>
							
							<h5>Ce trebuie evitat?</h5>
							<p>Zahărul rafinat și siropul de porumb.</p>
							<p>Uleiurile vegetale rafinate (soia, porumb, floarea-soarelui)</p>
                            <p>Carnea procesată și alimentele ultraprocesate</p>
							<p>Excesul de gluten (în cazul persoanelor cu sensibilitate)</p>
                        </div>
                        <div class="blog-details-pic">
                            <div class="blog-details-pic-item">
                                <img src="img/blog/details/mancare1.png" alt="">
                            </div>
                            <div class="blog-details-pic-item">
                                <img src="img/blog/details/mancare2.png" alt="">
                            </div>
                        </div>
                        <div class="blog-details-desc">
                            <p>O alimentație echilibrată poate repara dezechilibrele microbiene și reduce markerii 
							inflamației sistemice într-un interval scurt de timp</p>
                        </div>
                        <div class="blog-details-quote">
                            <div class="quote-icon">
                                <img src="img/blog/details/quote-left.png" alt="">
                            </div>
                            <h5>Călătoria mea personală cu diabetul a fost ambele 
							provocatoare și plină de satisfacții.</h5>
                            <span>Brad Feinberg</span>
                        </div>
                        <div class="blog-details-more-desc">
                            <p>Dieta antiinflamatoare nu este doar despre ce scoatem din farfurie, ci mai 
							ales despre ce adăugăm pentru a hrăni microbiomul, a proteja integritatea intestinală 
							și a susține imunitatea. Mesele bogate în alimente naturale, minim procesate, pot deveni primul 
							pas spre o viață fără durere, energie crescută și un sistem digestiv echilibrat.</p>
                            
                        </div>
                  		<br/>
                        <div class="blog-details-author">
                            <div class="ba-pic">
                                <img src="img/blog/details/blog-profile.jpg" alt="">
                            </div>
                            <div class="ba-text">
							
                                <h5>Lucian Bălteanu.</h5>
                                <p>Să ne imaginăm corpul precum un motor, iar mâncarea precum combustibilul. Nu vrei să mergi cu un combustibil prost, nu-i așa?</p>
                                <div class="bp-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="comment-option">
                                    <h5 class="co-title">Comentarii</h5>
                                    <div class="co-item">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-1.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                    <div class="co-item reply-comment">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-2.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                    <div class="co-item">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-3.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="leave-comment">
                                    <h5>Lasă un comentariu</h5>
                                    <form action="#">
                                        <input type="text" placeholder="Nume">
                                        <input type="text" placeholder="Email">
                                        <textarea placeholder="Comentariu"></textarea>
                                        <button type="submit">Trimite</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

   


@code {

}
