<h3>Art3</h3>
@page "/art3"

  <!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="img/blog/details/respiratie-header.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="bh-text">
                        <h3>Tehnici de respirație și relaxare.</h3>
                        <ul>
                            <li>de Lucian Bălteanu</li>
                            <li>iunie 2025</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
    <p>Respirația este mai mult decât un act reflex – este un instrument esențial în reglarea stresului, 
    echilibrarea emoțională și optimizarea sănătății fizice. Când este conștientizată, respirația devine 
    o punte între corp și minte, calmând ritmul inimii și liniștind gândurile agitate.</p>
    <br/>
    <p>În yoga și în multe practici de meditație, respirația controlată (pranayama) este folosită pentru a 
    ancora atenția în prezent, reducând anxietatea și tensiunea corporală. Câteva minute de respirație profundă 
    pot avea efecte similare cu cele ale unei scurte sesiuni de relaxare.</p>

    <h5>Respirația conștientă</h5>
    <p>Constă în a deveni atent la fiecare inspirație și expirație. Se practică lent, cu atenție la expansiunea 
    pieptului sau abdomenului, fără a forța ritmul natural. Această simplă practică încetinește bătăile inimii, 
    reduce secreția de adrenalină și induce o stare de calm general.</p>
    <br/>

    <h5>Respirația în 4 timpi (Box Breathing)</h5>
    <p>Folosită frecvent în antrenamentele mentale (inclusiv de forțele speciale), presupune patru pași egali: 
    inspirație – 4 secunde, retenție – 4 secunde, expirație – 4 secunde, pauză – 4 secunde. Acest tipar ajută 
    la resetarea sistemului nervos și la restabilirea clarității mentale.</p>
</div>

<div class="blog-details-pic">
    <div class="blog-details-pic-item">
        <img src="img/blog/details/relax-breath-1.jpg" alt="">
    </div>
    <div class="blog-details-pic-item">
        <img src="img/blog/details/relax-breath-2.jpg" alt="">
    </div>
</div>

<div class="blog-details-desc">
    <p>Practicate constant, aceste tehnici pot reduce semnificativ simptomele de stres, îmbunătățesc somnul 
    și contribuie la menținerea unei tensiuni arteriale stabile. Sunt recomandate în tulburări anxioase, 
    perioade de suprasolicitare sau ca parte a rutinei zilnice de autocunoaștere.</p>
</div>

<div class="blog-details-quote">
    <div class="quote-icon">
        <img src="img/blog/details/quote-left.png" alt="">
    </div>
    <h5>„Oriunde te-ai afla, adu-ți aminte să respiri.”</h5>
    <span>Thich Nhat Hanh</span>
</div>

<div class="blog-details-more-desc">
    <p>Din punct de vedere medical, respirația profundă activează sistemul nervos parasimpatic – responsabil cu 
    răspunsul de relaxare. Este asociată cu reducerea nivelului de cortizol, încetinirea ritmului cardiac și 
    activarea centrilor cerebrali ai calmului.</p>

    <p>Respirația este, astfel, un „instrument tăcut” dar extrem de puternic. Fie că este integrată în yoga, 
    mindfulness sau momente de liniște acasă, ea oferă echilibru și claritate, fără costuri, fără efort, 
    doar prin prezență.</p>
</div>

                  		<br/>
                        <div class="blog-details-author">
                            <div class="ba-pic">
                                <img src="img/blog/details/blog-profile.jpg" alt="">
                            </div>
                            <div class="ba-text">
							
                                <h5>Lucian Bălteanu.</h5>
                                <p>Așează-te un moment și respiră adânc.</p>
                                <div class="bp-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="comment-option">
                                    <h5 class="co-title">Comentarii</h5>
                                    <div class="co-item">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-1.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                    <div class="co-item reply-comment">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-2.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                    <div class="co-item">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-3.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="leave-comment">
                                    <h5>Lasă un comentariu</h5>
                                    <form action="#">
                                        <input type="text" placeholder="Nume">
                                        <input type="text" placeholder="Email">
                                        <textarea placeholder="Comentariu"></textarea>
                                        <button type="submit">Trimite</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->
@code {

}
