<h3>Art4</h3>
@page "/art4"

!-- Blog Details Hero Section Begin -->
    <section class="blog-details-hero set-bg" data-setbg="img/blog/details/jurnal-header.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="bh-text">
                        <h3>Jurnalul durerii  și al activității.</h3>
                        <ul>
                            <li>de Lucian Bălteanu</li>
                            <li>iunie 2025</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
    <p>Fiecare durere are o poveste. Pentru unii, este tăcută și constantă; pentru alții, izbucnește pe neașteptate și schimbă totul. 
    Acest jurnal nu este despre suferință, ci despre momentul acela decisiv în care alegem să nu ne mai definim prin ea.</p>
    <br/>
    <p>Primii pași sunt mereu cei mai grei – o întindere timidă, un exercițiu lent, o respirație conștientă. Dar în fiecare alegere 
    de a te mișca, de a te asculta, de a continua, începe un nou capitol: unul în care tu îți scrii viața, nu durerea.</p>
</div>

<div class="blog-details-pic">
    <div class="blog-details-pic-item">
        <img src="img/blog/details/pain-journal-1.jpg" alt="">
    </div>
    <div class="blog-details-pic-item">
        <img src="img/blog/details/pain-journal-2.jpg" alt="">
    </div>
</div>

<div class="blog-details-desc">
    <p>Documentarea zilnică a durerii, alături de activitățile efectuate, devine un act de cunoaștere de sine. 
    Te învață ce îți provoacă disconfort, ce îți aduce alinare și cum corpul tău răspunde în timp. 
    Devine o formă tăcută de dialog între tine și propria vindecare.</p>
</div>

<div class="blog-details-quote">
    <div class="quote-icon">
        <img src="img/blog/details/quote-left.png" alt="">
    </div>
    <h5>„Durerea este inevitabilă. Suferința este o alegere.”</h5>
    <span>Haruki Murakami</span>
</div>

<div class="blog-details-more-desc">
    <p>Din perspectivă medicală, auto-monitorizarea simptomelor și a activităților fizice este esențială pentru gestionarea 
    corectă a afecțiunilor cronice. În plus, jurnalul devine o unealtă utilă pentru medici, oferind o imagine clară 
    și continuă asupra progresului.</p>

    <p>Mai presus de toate, este un gest de curaj. Este locul unde durerea își pierde din putere și unde tu recâștigi controlul. 
    Pagina cu pagină, mișcare cu mișcare.</p>
</div>

                  		<br/>
                        <div class="blog-details-author">
                            <div class="ba-pic">
                                <img src="img/blog/details/blog-profile.jpg" alt="">
                            </div>
                            <div class="ba-text">
							
                                <h5>Lucian Bălteanu.</h5>
                                <p>În fiecare durere se ascunde un nou drum. Trebuie doar să ai curajul să începi.</p>
                                <div class="bp-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="comment-option">
                                    <h5 class="co-title">Comentarii</h5>
                                    <div class="co-item">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-1.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                    <div class="co-item reply-comment">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-2.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                    <div class="co-item">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-3.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="leave-comment">
                                    <h5>Lasă un comentariu</h5>
                                    <form action="#">
                                        <input type="text" placeholder="Nume">
                                        <input type="text" placeholder="Email">
                                        <textarea placeholder="Comentariu"></textarea>
                                        <button type="submit">Trimite</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

@code {

}
