<h3>Art5</h3>
@page "/art5"

 <!-- Blog Details Hero Section Begin -->
<section class="blog-details-hero set-bg" data-setbg="img/blog/details/plan-personalizat-header.png">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="bh-text">
                        <h3>Plan personalizat în funcție de simptome.</h3>
                        <ul>
                            <li>de Lucian Bălteanu</li>
                            <li>iunie 2025</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Hero Section End -->

    <!-- Blog Details Section Begin -->
    <section class="blog-details-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 p-0 m-auto">
                    <div class="blog-details-text">
                        <div class="blog-details-title">
    <p>Fiecare corp este diferit. Simptomele se manifestă diferit, reacțiile la efort sau la anumite alimente pot varia, 
    iar ceea ce funcționează pentru o persoană nu este neapărat eficient pentru alta. Din acest motiv, personalizarea 
    intervenției este esențială în combaterea spondilitei anchilozante.</p>
    <br/>
    <p>Aplicația mea analizează date precum sexul, vârsta, greutatea, înălțimea și simptomele specifice raportate pentru 
    a genera un plan adaptat nevoilor individuale. Fiecare utilizator va primi recomandări personalizate de exerciții, 
    niveluri de intensitate potrivite și un ghid alimentar axat pe reducerea inflamației.</p>
</div>

<div class="blog-details-pic">
    <div class="blog-details-pic-item">
        <img src="img/blog/details/personalized-plan-1.jpg" alt="">
    </div>
    <div class="blog-details-pic-item">
        <img src="img/blog/details/personalized-plan-2.jpg" alt="">
    </div>
</div>

<div class="blog-details-desc">
    <p>Personalizarea nu este un lux – este o necesitate medicală. Studiile arată că abordările standardizate 
    în gestionarea bolilor autoimune sunt mai puțin eficiente decât intervențiile calibrate pe profilul individual 
    al pacientului. Adaptarea planului zilnic de activitate fizică și nutriție reduce riscul de recădere, 
    îmbunătățește calitatea vieții și sprijină aderența pe termen lung.</p>
</div>

<div class="blog-details-quote">
    <div class="quote-icon">
        <img src="img/blog/details/quote-left.png" alt="">
    </div>
    <h5>„Nu există o rețetă universală. Corpul tău are propriul său limbaj – învață să îl asculți.”</h5>
    <span>Dr. David Sinclair</span>
</div>

<div class="blog-details-more-desc">
    <p>Aplicația devine astfel nu doar un ghid, ci un partener în procesul de gestionare a bolii – oferind un plan 
    care se ajustează odată cu evoluția simptomelor, progresul în exerciții și răspunsul organismului la schimbările din stilul de viață.</p>

    <p>Un plan potrivit înseamnă mai puțină durere, mai mult control și, mai presus de toate, o viață trăită cu sens, 
    nu cu limitări. Este momentul ca tehnologia să răspundă realității tale personale, nu unei medii statistice.</p>
</div>

                  		<br/>
                        <div class="blog-details-author">
                            <div class="ba-pic">
                                <img src="img/blog/details/blog-profile.jpg" alt="">
                            </div>
                            <div class="ba-text">
							
                                <h5>Lucian Bălteanu.</h5>
                                <p>Cine nu face greșeli, nu face nimic.</p>
                                <div class="bp-social">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="comment-option">
                                    <h5 class="co-title">Comentarii</h5>
                                    <div class="co-item">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-1.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                    <div class="co-item reply-comment">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-2.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                    <div class="co-item">
                                        <div class="co-widget">
                                            <a href="#"><i class="fa fa-heart-o"></i></a>
                                            <a href="#"><i class="fa fa-share-square-o"></i></a>
                                        </div>
                                        <div class="co-pic">
                                            <img src="img/blog/details/comment-3.jpg" alt="">
                                            <h5>Brandon Kelley</h5>
                                        </div>
                                        <div class="co-text">
                                            <p>Neque porro quisquam est, qui dolorem ipsum dolor sit amet, consectetur,
                                                adipisci velit dolore.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="leave-comment">
                                    <h5>Lasă un comentariu</h5>
                                    <form action="#">
                                        <input type="text" placeholder="Nume">
                                        <input type="text" placeholder="Email">
                                        <textarea placeholder="Comentariu"></textarea>
                                        <button type="submit">Trimite</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Blog Details Section End -->

    
 

@code {

}
