@page "/info"

<!-- Blog Details Hero Section Begin -->
<section class="blog-details-hero set-bg" data-setbg="img/blog/details/info-header.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0 m-auto">
                <div class="bh-text">
                    <h3>Sănătatea coloanei – Spondilita anchilozantă explicată.</h3>
                    <ul>
                        <li>de Lucian Bălteanu</li>
                        <li>UPT, iunie 2025</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Blog Details Hero Section End -->
<!-- Blog Details Section Begin -->
<section class="blog-details-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 p-0 m-auto">
                <div class="blog-details-text">
                    <div class="blog-details-desc" style="color: #ffffff; line-height: 1.6; text-align: left;">
                        <h5 style="color: #ffffff;">Ce este spondilita anchilozantă?</h5>
                        <p style="margin-bottom: 20px;"><strong>Spondilita anchilozantă</strong> este o boală autoimună cronică ce afectează predominant coloana vertebrală și articulațiile sacroiliace. Inflamația persistentă duce, în timp, la rigidizarea coloanei și scăderea mobilității. Boala nu are un tratament curativ, dar poate fi gestionată eficient prin mișcare, alimentație și tratament medical adecvat.</p>

                        <h5 style="color: #ffffff;">Cauze și mecanism</h5>
                        <p style="margin-bottom: 20px;">Afecțiunea este asociată frecvent cu gena <strong>HLA-B27</strong>, însă nu toate persoanele purtătoare o dezvoltă. Inflamația cronică duce la formarea de țesut osos nou între vertebre, ceea ce poate provoca „fuziunea” acestora – fenomen cunoscut ca <em>„coloană de bambus”</em>.</p>

                        <h5 style="color: #ffffff;">Cine este afectat?</h5>
                        <p style="margin-bottom: 20px;">Boala debutează de obicei între 20 și 30 de ani și este mai frecventă la bărbați (raport 2:1). Poate trece neobservată ani la rând, ceea ce duce la întârzieri frecvente în diagnostic.</p>

                        <h5 style="color: #ffffff;">Simptome și manifestări</h5>
                        <ul style="padding-left: 20px;">
                            <li style="margin-bottom: 10px;">Durere lombară persistentă, mai accentuată dimineața;</li>
                            <li style="margin-bottom: 10px;">Rigiditate matinală de peste 30 de minute;</li>
                            <li style="margin-bottom: 10px;">Limitarea mobilității coloanei și a cutiei toracice;</li>
                            <li style="margin-bottom: 10px;">Oboseală accentuată și inflamații oculare (uveită).</li>
                        </ul>

                        <h5 style="color: #ffffff;">Complicații posibile</h5>
                        <ul style="padding-left: 20px;">
                            <li style="margin-bottom: 10px;">Inflamații oculare recurente (uveită);</li>
                            <li style="margin-bottom: 10px;">Afecțiuni pulmonare și cardiovasculare (în cazuri avansate);</li>
                            <li style="margin-bottom: 10px;">Asocieri cu boli inflamatorii intestinale (ex: boala Crohn).</li>
                        </ul>

                        <h5 style="color: #ffffff;">Statistici și prevalență</h5>
                        <ul style="padding-left: 20px;">
                            <li style="margin-bottom: 10px;">Afectează între <strong>0,1% – 0,8%</strong> din populația globală adultă;</li>
                            <li style="margin-bottom: 10px;">În Europa, prevalența este de aproximativ <strong>0,24%</strong> (≈24 la 10.000);</li>
                            <li style="margin-bottom: 10px;">Timpul mediu de diagnostic este întârziat cu 5–10 ani.</li>
                        </ul>

                        <h5 style="color: #ffffff;">Cum se diagnostichează?</h5>
                        <p style="margin-bottom: 20px;">Diagnosticul se bazează pe simptome, imagistică (radiografii, RMN) și analize (VSH, CRP). Testul HLA-B27 poate susține suspiciunea. Colaborarea cu un reumatolog este esențială pentru confirmare și tratament corect.</p>

                        <h5 style="color: #ffffff;">Tratament și gestionare</h5>
                        <ul style="padding-left: 20px;">
                            <li style="margin-bottom: 10px;">Exerciții fizice regulate, stretching și kinetoterapie;</li>
                            <li style="margin-bottom: 10px;">Medicamente antiinflamatoare (AINS) și tratamente biologice (anti-TNF, IL-17);</li>
                            <li style="margin-bottom: 10px;">Alimentație antiinflamatoare și controlul greutății;</li>
                            <li style="margin-bottom: 10px;">Suport psihologic și educație medicală constantă.</li>
                        </ul>

                        <h5 style="color: #ffffff;">Recomandări esențiale</h5>
                        <ul style="padding-left: 20px;">
                            <li style="margin-bottom: 10px;">Mișcă-te zilnic, chiar și moderat;</li>
                            <li style="margin-bottom: 10px;">Evită perioadele lungi de inactivitate;</li>
                            <li style="margin-bottom: 10px;">Fă-ți evaluări periodice și notează-ți simptomele;</li>
                            <li style="margin-bottom: 10px;">Adoptă o alimentație echilibrată și antiinflamatoare.</li>
                        </ul>

                        <h5 style="color: #ffffff;">Concluzie</h5>
                        <p style="margin-bottom: 20px;">Spondilita anchilozantă este o boală care impune disciplină, dar nu limitează potențialul de a trăi o viață activă. Cu informația potrivită și acțiune constantă, mobilitatea, echilibrul și calitatea vieții pot fi păstrate pe termen lung.</p>
                    </div>

                    <br/>
                    <div class="blog-details-author">
                        <div class="ba-pic">
                            <img src="img/blog/details/blog-profile.jpg" alt="">
                        </div>
                        <div class="ba-text">

                            <h5>Lucian Bălteanu.</h5>
                            <p>Fiecare zi în care îți onorezi corpul e o victorie asupra durerii.</p>
                            <div class="bp-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-instagram"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
</section>